// Body
$body-bg: #f8fafc;
$button-color: #7879F1;
// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
#boton{
    background-color: $button-color;
    border-radius:40%;
    margin-inline-start: 25%;
    height: 85%;


}
.text{
    color: #5865F2 ;
    display: flex;
    flex-direction: column;
   text-align: center;
}

.nav-link.active{
    color: #5865F2;
    border-bottom: 3px solid #5865F2;;
 }

 .navCenter{
     display: flex;
     flex-direction: column;
 }
 .body{
     background-color: chartreuse;
 }



//Register button and letters
$register_button-color: #7879F1;
$letters_navBar_login_register: #5865F2;

#register_button{
    background-color: $register_button-color;
    border-radius: 15%;
    width: 75%;
    height: 100%;
    margin-left: 15%;
}

.nav-link.active{
    color: $letters_navBar_login_register;
    border-bottom: 3px solid $letters_navBar_login_register;
}

#carouselcontainer{
  margin: 0 auto;
}

#carouselExampleIndicators{
  width: 100%;
}

@media (min-width: 576px){
  #carouselExampleIndicators{
    max-width: 450px;
  }
}

@media (min-width: 768px){
  #carouselExampleIndicators{
    max-width: 420px;
  }
}

@media (min-width: 1200px){
  #carouselExampleIndicators{
    max-width: 300px;
  }
}

.carousel-inner{
  border-radius: 8px;
  filter: drop-shadow(5px 5px 5px #b2b2b3)
}
.carousel .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px; /* change width */
  height: 10px; /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #c4c4c4;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .9;
  transition: opacity .6s ease;
  border-radius: 100%; // /* add border-radius */
}

#indic{
  bottom: -50px;
  filter: drop-shadow(1px 1px 5px #b2b2b3)
}

#indic .active{
  background-color: #7879F1;
}
$white-text: #FCFCFC;

// Header
$header-bg: #98ABF1;

// Footer
$footer-bg: #98ABF1;

// Buttons
$login-btn: #7879F1;
$register-btn: #5D5FEF;
$header-btn: 5rem;

#header {
    background-color: $header-bg;
    height: 10rem;
}

#footer {
    background-color: $footer-bg;
    height: 10rem;

    #copy-text{
        font-size: 2rem;
        color: $white-text;
    }
}

#login-btn {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: $login-btn;
    color: $white-text;
    border-radius: 40px;
    width: 10rem;
    height: 4rem;
}

#register-btn {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: $register-btn;
    color: $white-text;
    border-radius: 40px;
    width: 12rem;
    height: 4rem;
}

.tamaño{
  width: 10%;
}